<%- include ("./partials/header") -%>
<h1 class="text-center">Posts</h1>
<% for(let sub of posts) { %>

<div class="media-container">
    <div class="media mx-auto mt-3">
        <img src="<%= sub.url %>" class="mr-3 homeimg" alt="...">
        <div class="media-body">
            <h5 class="mt-0"><%= sub.title %></h5>
            <p> <%=sub.content.substring(0,100) %>...</p>
            <a href="/article/<%=sub.title %>" class="btn btn-outline-primary"> Read more</a>
        </div>

    </div>

</div>




<%} %>




<%- include ("./partials/footer") -%>