<%- include ("./partials/header") -%>

<div class="jumbotron d-flex ">
    <img src="<%= post.url %>" class="img-fluid" alt="Responsive image">
    <div class="container">
        <h2 class="display-4 text-center"><%= post.title %></h1>
            <p class="lead"><%= post.content %></p>
            <hr class="my-4">

            <a class="btn btn-success btn-lg ml-2" href="/article/<%=post._id %>/edit" role="button">Update</a>
            <form action="/article/<%=post._id %>?_method=DELETE" class="d-inline-block" method="POST">
                <button class="btn btn-danger btn-lg ml-4" type="submit" role="button">Delete</a>
            </form>
    </div>
</div>



<%- include ("./partials/footer") -%>